# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "friday"
    cooldown:
      default-days: 2

  - package-ecosystem: "devcontainers"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "friday"

  - package-ecosystem: "docker-compose"
    directories:
      - "/"
      - "/.devcontainer"
    schedule:
      interval: "weekly"
      day: "friday"

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "friday"
    open-pull-requests-limit: 5
    cooldown:
      default-days: 2
      semver-major-days: 7
    groups:
      astro:
        patterns:
          - "@astrojs/*"
          - "astro"
      eslint:
        patterns:
          - "@eslint/*"
          - "eslint"
          - "typescript-eslint"
      lexical:
        patterns:
          - "lexical"
          - "@lexical/*"
      next:
        patterns:
          - "@next/eslint-plugin-next"
          - "next"
      radix-ui:
        patterns:
          - "@radix-ui/*"
      react:
        patterns:
          - "@types/react"
          - "@types/react-dom"
          - "react"
          - "react-dom"
      react-aria:
        patterns:
          - "react-aria-components"
          - "react-stately"
      storybook:
        patterns:
          - "@storybook/*"
          - "eslint-plugin-storybook"
          - "storybook"
      tailwind:
        patterns:
          - "@tailwindcss/*"
          - "tailwind-merge"
          - "tailwindcss"
      turbo:
        patterns:
          - "eslint-plugin-turbo"
          - "turbo"
      vite:
        patterns:
          - "@vitejs/*"
          - "vitejs"
      vitest:
        patterns:
          - "@vitest/*"
          - "vitest"
