# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "friday"

  - package-ecosystem: "npm"
    directory: "/tools/all-dependencies/"
    schedule:
      interval: "weekly"
      day: "friday"
    open-pull-requests-limit: 10
    groups:
      eslint:
        patterns:
          - "@typescript-eslint/*"
          - "eslint"
      lexical:
        patterns:
          - "lexical"
          - "@lexical/*"
      next:
        patterns:
          - "eslint-config-next"
          - "next"
      storybook:
        patterns:
          - "@storybook/*"
          - "eslint-plugin-storybook"
          - "storybook"
