// leaflet is using z-index: 1000
$base-z-index: 1001;
$dropdown-content-z: $base-z-index + 20;

$code: hsl(0, 0%, 14%);
$code-background: hsl(0, 0%, 96%);

@import '../../node_modules/bulma/bulma.sass';
@import '../../node_modules/@creativebulma/bulma-badge/src/sass/index.sass';

.dropdown-content {
  max-height: 50vh;
  overflow: auto;
}
