@import './bulma.scss';
@import './colors.scss';

.is-sticky-row td,
th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: $white;
}

.is-order-header:hover {
  background-color: $background;
}

.is-width-100 {
  width: 100%;
}

.is-height-0 {
  height: 0;
}

.is-height-100vh {
  height: 100vh;
}

.is-height-100 {
  height: 100%;
}

@each $name, $value in $spacing-values {
  .g-#{$name} {
    #{gap}: $value !important ;
  }
  .gc-#{$name} {
    #{column-gap}: $value !important ;
  }
  .gr-#{$name} {
    #{row-gap}: $value !important ;
  }
}

.scrollable {
  overflow-y: scroll;
}

.sticky-top-shadow {
  height: 5px;
  margin-bottom: -5px;
  &.is-clipped {
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.3);
  }
}

.sticky-bottom-shadow {
  height: 5px;
  margin-top: -5px;
  &.is-clipped {
    box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.3);
  }
}

.is-sticky-top {
  position: sticky;
  top: -1px;
  z-index: 2;
}

.is-sticky-bottom {
  position: sticky;
  bottom: -1px;
  z-index: 2;
}

.buttons.no-bottom-margin {
  margin-bottom: 0 !important;
  .button {
    margin-bottom: 0 !important;
  }
}
