@import './bulma.scss';
@import './colors.scss';

tr.is-sticky-row :is(td, th),
:not(tr).is-sticky-row {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: $white;
}

.is-order-header:hover {
  background-color: $background;
}

.is-width-100 {
  width: 100%;
}

.is-height-0 {
  height: 0;
}

.is-height-100vh {
  height: 100vh;
}

.is-height-100 {
  height: 100%;
}

.is-max-width-40rem {
  max-width: 40rem;
}

.is-aspect-1 {
  aspect-ratio: 1;
}

@each $name, $value in $spacing-values {
  .g-#{$name} {
    #{gap}: $value !important ;
  }
  .gc-#{$name} {
    #{column-gap}: $value !important ;
  }
  .gr-#{$name} {
    #{row-gap}: $value !important ;
  }
}

.scrollable {
  overflow-y: scroll;
}

.sticky-top-shadow {
  height: 5px;
  margin-bottom: -5px;
  &.is-clipped {
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.3);
  }
}

.sticky-bottom-shadow {
  height: 5px;
  margin-top: -5px;
  &.is-clipped {
    box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.3);
  }
}

.is-sticky-top {
  position: sticky;
  top: -1px;
  z-index: 2;
}

.is-sticky-bottom {
  position: sticky;
  bottom: -1px;
  z-index: 2;
}

.buttons.no-bottom-margin {
  margin-bottom: 0 !important;
  .button {
    margin-bottom: 0 !important;
  }
}

.card-footer-button {
  white-space: normal;
  height: auto;
}

.dialog {
  border: none;
  background-color: transparent;
}

.dialog-frame {
  height: 100%;
  background-color: $card-background-color;
  border-radius: $card-radius;
  box-shadow: $card-shadow;
  color: $card-color;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.dialog-header {
  background-color: $card-header-background-color;
  box-shadow: $card-header-shadow;
  display: flex;
}

.dialog-header-title {
  color: $card-header-color;
  font-weight: $card-header-weight;
  padding: $card-header-padding;
  flex-grow: 1;
}

.dialog-body {
  flex-grow: 1;
}

.isolation-isolate {
  isolation: isolate;
}

.notification-center {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  max-height: 80vh;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
}

.hover-reveal-container .item {
  visibility: hidden;
}

.hover-reveal-container:hover .item,
.hover-reveal-container .item.is-visible {
  visibility: visible;
}
