@import './bulma.scss';
@import './colors.scss';
@import './icons.scss';

tr.is-sticky-row :is(td, th),
:not(tr).is-sticky-row {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: $white;
}

.is-order-header:hover {
  background-color: $background;
}

.is-width-100 {
  width: 100%;
}

.is-height-0 {
  height: 0;
}

.is-height-100vh {
  height: 100vh;
}

.is-height-100 {
  height: 100%;
}

.is-max-width-40rem {
  max-width: 40rem;
}

.is-aspect-1 {
  aspect-ratio: 1;
}

.is-aspect-16-9 {
  aspect-ratio: 16/9;
}

.is-absolute {
  position: absolute;
}

.is-inset-0 {
  inset: 0;
}

@each $name, $value in $spacing-values {
  .g-#{$name} {
    #{gap}: $value !important ;
  }
  .gc-#{$name} {
    #{column-gap}: $value !important ;
  }
  .gr-#{$name} {
    #{row-gap}: $value !important ;
  }
}

.is-scroll-behavior-smooth {
  scroll-behavior: smooth;
}

.is-overflow-x-auto {
  overflow-x: auto;
}

.is-overflow-y-auto {
  overflow-y: auto;
}

.sticky-top-shadow {
  height: 5px;
  margin-bottom: -5px;
  &.is-clipped {
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.3);
  }
}

.sticky-bottom-shadow {
  height: 5px;
  margin-top: -5px;
  &.is-clipped {
    box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.3);
  }
}

.is-sticky-top {
  position: sticky;
  top: -1px;
  z-index: 2;
}

.is-sticky-bottom {
  position: sticky;
  bottom: -1px;
  z-index: 2;
}

.buttons.no-bottom-margin {
  margin-bottom: 0 !important;
  .button {
    margin-bottom: 0 !important;
  }
}

.is-card-container {
  background-color: $card-background-color;
  border-radius: $card-radius;
  box-shadow: $card-shadow;
  color: $card-color;
}

.card-footer-button {
  white-space: normal;
  height: auto;
}

.card-media {
  border-top-left-radius: $card-radius;
  border-top-right-radius: $card-radius;
  overflow: clip;
}

.dialog {
  border: none;
  background-color: transparent;
  position: absolute;
  inset: 0;
  padding: 1rem;
  margin: auto;
}

.isolation-isolate {
  isolation: isolate;
}

.notification-center {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  max-height: 80vh;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
}

.hover-reveal-container > .item {
  visibility: hidden;
}

.hover-reveal-container:hover > .item,
.hover-reveal-container > .item.is-visible {
  visibility: visible;
}

.icon-asset {
  height: 1em;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-asset-s {
  font-size: 0.875em;
}
.icon-asset-m {
  font-size: 1.25em;
}
.icon-asset-l {
  font-size: 2em;
}

.icon-toggled {
  background-color: lighten($info, 30%);
  border-radius: 20%;
}

.dialog-reset {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.rich-text {
  user-select: text;
  white-space: pre-wrap;
  word-break: break-word;

  .li {
  }

  .ol {
    margin-left: 1.2em;
    margin-bottom: 0.5rem;
  }

  .paragraph {
    margin-bottom: 0.5rem;
  }

  .ul {
    list-style-type: disc;
    margin-left: 1em;
    margin-bottom: 0.5rem;
  }

  .indent {
    --lexical-indent-base-value: 30px;
  }

  .is-bold {
    font-weight: bold;
  }

  .is-code {
    font-family: monospace;
  }

  .is-italic {
    font-style: italic;
  }

  .is-highlight {
    background-color: $primary-light;
  }

  .is-strike-through {
    text-decoration: line-through;
  }

  .is-subscript {
    vertical-align: sub;
  }

  .is-superscript {
    vertical-align: super;
  }

  .is-underline {
    text-decoration: underline;
  }

  .is-underline-strike-through {
    text-decoration: underline line-through;
  }
}

.rich-text-editor {
  // controls
  border: $control-border-width solid transparent;
  padding-bottom: $control-padding-vertical;
  padding-left: $control-padding-horizontal;
  padding-right: $control-padding-horizontal;
  padding-top: $control-padding-vertical;
  // input
  background-color: $input-background-color;
  border-color: $input-border-color;
  border-radius: $input-radius;
  color: $input-color;
  + placeholder {
    color: $input-placeholder-color;
  }
  &:hover,
  &.is-hovered {
    border-color: $input-hover-border-color;
  }
  &:focus,
  &.is-focused,
  &:active,
  &.is-active {
    border-color: $input-focus-border-color;
    box-shadow: $input-focus-box-shadow-size $input-focus-box-shadow-color;
  }
  //
  min-height: 8em;
  outline: none;
  resize: vertical;
  overflow: auto;
}

// TODO copies from Lexical playground, rewrite

.PlaygroundEditorTheme__blockCursor {
  display: block;
  pointer-events: none;
  position: absolute;
}

.PlaygroundEditorTheme__blockCursor:after {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  width: 20px;
  border-top: 1px solid black;
  animation: CursorBlink 1.1s steps(2, start) infinite;
}

@keyframes CursorBlink {
  to {
    visibility: hidden;
  }
}

.PlaygroundEditorTheme__code {
  background-color: rgb(240, 242, 245);
  font-family: Menlo, Consolas, Monaco, monospace;
  display: block;
  padding: 8px 8px 8px 52px;
  line-height: 1.53;
  font-size: 13px;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  overflow-x: auto;
  position: relative;
  tab-size: 2;
}
.PlaygroundEditorTheme__code:before {
  content: attr(data-gutter);
  position: absolute;
  background-color: #eee;
  left: 0;
  top: 0;
  border-right: 1px solid #ccc;
  padding: 8px;
  color: #777;
  white-space: pre-wrap;
  text-align: right;
  min-width: 25px;
}

.PlaygroundEditorTheme__tokenComment {
  color: slategray;
}
.PlaygroundEditorTheme__tokenPunctuation {
  color: #999;
}
.PlaygroundEditorTheme__tokenProperty {
  color: #905;
}
.PlaygroundEditorTheme__tokenSelector {
  color: #690;
}
.PlaygroundEditorTheme__tokenOperator {
  color: #9a6e3a;
}
.PlaygroundEditorTheme__tokenAttr {
  color: #07a;
}
.PlaygroundEditorTheme__tokenVariable {
  color: #e90;
}
.PlaygroundEditorTheme__tokenFunction {
  color: #dd4a68;
}

.PlaygroundEditorTheme__listItemChecked,
.PlaygroundEditorTheme__listItemUnchecked {
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 24px;
  padding-right: 24px;
  list-style-type: none;
  outline: none;
}
.PlaygroundEditorTheme__listItemChecked {
  text-decoration: line-through;
}
.PlaygroundEditorTheme__listItemUnchecked:before,
.PlaygroundEditorTheme__listItemChecked:before {
  content: '';
  width: 16px;
  height: 16px;
  top: 2px;
  left: 0;
  cursor: pointer;
  display: block;
  background-size: cover;
  position: absolute;
}
.PlaygroundEditorTheme__listItemUnchecked[dir='rtl']:before,
.PlaygroundEditorTheme__listItemChecked[dir='rtl']:before {
  left: auto;
  right: 0;
}
.PlaygroundEditorTheme__listItemUnchecked:focus:before,
.PlaygroundEditorTheme__listItemChecked:focus:before {
  box-shadow: 0 0 0 2px #a6cdfe;
  border-radius: 2px;
}
.PlaygroundEditorTheme__listItemUnchecked:before {
  border: 1px solid #999;
  border-radius: 2px;
}
.PlaygroundEditorTheme__listItemChecked:before {
  border: 1px solid rgb(61, 135, 245);
  border-radius: 2px;
  background-color: #3d87f5;
  background-repeat: no-repeat;
}
.PlaygroundEditorTheme__listItemChecked:after {
  content: '';
  cursor: pointer;
  border-color: #fff;
  border-style: solid;
  position: absolute;
  display: block;
  top: 6px;
  width: 3px;
  left: 7px;
  right: 7px;
  height: 6px;
  transform: rotate(45deg);
  border-width: 0 2px 2px 0;
}

.react-aria-DropIndicator[data-drop-target] {
  outline: 1px solid $link;
}

@supports not selector(:has(.foo)) {
  .react-aria-DropIndicator {
    /* Undo gap in browsers that don't support :has */
    margin-bottom: -2px;
  }
}

.react-aria-Button.blank {
  background: none;
  border: none;
}

.react-aria-Dialog {
  outline: none;
  box-shadow: 0 8px 20px rgba(0 0 0 / 0.1);
}

.react-aria-ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--visual-viewport-height);
  width: 100vw;
  background: rgba(0 0 0 / 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

  &[data-entering] {
    animation: fade 200ms;
  }

  &[data-exiting] {
    animation: fade 150ms reverse ease-in;
  }
}

.react-aria-Modal {
  outline: none;
  padding: 1rem;

  &[data-entering] {
    animation: zoom 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoom {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
