---
import { getAuthenticatedPublishedExceptionClient } from '../dossier/utils/ServerUtils.js';
import Layout from '../layouts/Layout.astro';

const client = await getAuthenticatedPublishedExceptionClient();
const sample = await client.getEntitiesSample();
---

<Layout title="Home">
  <h1>Home</h1>
  <p>There are {sample.totalCount} entities in the database.</p>
  {
    sample.items.length > 0 ? (
      <>
        <p>Here are {sample.items.length} samples:</p>
        <ul>
          {sample.items.map((it) => (
            <li>{it.info.name}</li>
          ))}
        </ul>
      </>
    ) : null
  }
</Layout>
