.leaflet-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.leaflet-container {
  isolation: isolate;
}

@keyframes breathing {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
  }
}

.is-pulsing {
  animation: breathing 2s ease-out infinite normal;
}

.leaflet-control-locate.active .leaflet-icon {
  filter: invert(47%) sepia(61%) saturate(2636%) hue-rotate(186deg) brightness(100%) contrast(88%);
}
