.dd-icon-chevron-down {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill-rule:evenodd%3bclip-rule:evenodd%3bstroke-linecap:round%3bstroke-linejoin:round%3bstroke-miterlimit:1.5'%3e%3cpath d='m16 18.5 9-5M16 18.5l-9-5' style='fill:none%3bstroke:white%3bstroke-width:2px'/%3e%3c/svg%3e");
}

.dd-icon-map-marker {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 22 28' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill-rule:evenodd%3bclip-rule:evenodd%3bstroke-linecap:round%3bstroke-linejoin:round%3bstroke-miterlimit:1.5'%3e%3cpath d='M11 27s9-10.5 9-15c0-4.967-4.033-9-9-9s-9 4.033-9 9c0 4.5 9 15 9 15Z' style='fill:none%3bstroke:%23005dff%3bstroke-width:2px'/%3e%3c/svg%3e");
}

.dd-icon-open-window {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill-rule:evenodd%3bclip-rule:evenodd%3bstroke-linecap:round%3bstroke-linejoin:round%3bstroke-miterlimit:1.5'%3e%3cpath d='M17.105 3.983H8.464a4.483 4.483 0 0 0-4.481 4.481v15.054A4.484 4.484 0 0 0 8.464 28h15.054A4.484 4.484 0 0 0 28 23.518v-8.64M16 16 27 5M21 4h7v7' style='fill:none%3bstroke:white%3bstroke-width:2px'/%3e%3c/svg%3e");
}

.dd-icon-remove {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill-rule:evenodd%3bclip-rule:evenodd%3bstroke-linecap:round%3bstroke-linejoin:round%3bstroke-miterlimit:1.5'%3e%3cpath d='M4 28 27 5M4 5l23 23' style='fill:none%3bstroke:white%3bstroke-width:2px'/%3e%3c/svg%3e");
}
