/* 
  TYPOGRAPHY
*/
:root {
  --dd-font-family-headlines: Helvetica, sans-serif;
  --dd-font-family-normal: Helvetica, sans-serif;
}

.dd.text-headline1 {
  font-family: var(--dd-font-family-headlines);
  font-size: 6rem;
}

.dd.text-headline2 {
  font-family: var(--dd-font-family-headlines);
  font-size: 3.75rem;
}

.dd.text-headline3 {
  font-family: var(--dd-font-family-headlines);
  font-size: 3rem;
}

.dd.text-headline4 {
  font-family: var(--dd-font-family-headlines);
  font-size: 2.125rem;
}

.dd.text-headline5 {
  font-family: var(--dd-font-family-headlines);
  font-size: 1.5rem;
}

.dd.text-headline6 {
  font-family: var(--dd-font-family-headlines);
  font-size: 1.25rem;
}

.dd.text-subtitle1 {
  font-family: var(--dd-font-family-headlines);
  font-size: 1rem;
  font-weight: 600;
}

.dd.text-subtitle2 {
  font-family: var(--dd-font-family-headlines);
  font-size: 0.875rem;
  font-weight: 600;
}

.dd.text-body1 {
  font-family: var(--dd-font-family-normal);
  font-size: 1rem;
}

.dd.text-body2 {
  font-family: var(--dd-font-family-normal);
  font-size: 0.875rem;
}

.dd.text-button {
  font-family: var(--dd-font-family-normal);
  font-size: 1rem;
  font-weight: 500;
}

.dd.text-caption {
  font-family: var(--dd-font-family-normal);
  font-size: 0.75rem;
}

.dd.text-overline {
  font-family: var(--dd-font-family-normal);
  font-size: 0.625rem;
}

/*
  COLORS
*/

:root {
  --dd-bg-color-h: 0;
  --dd-bg-color-s: 0%;
  --dd-bg-color-l: 100%;
  --dd-color-h: 0;
  --dd-color-s: 0%;
  --dd-color-l: 5%;
  --dd-color-accent: #5146ee;
}

.dd.bg-primary {
  --dd-bg-color-h: 141;
  --dd-bg-color-s: 52%;
  --dd-bg-color-l: 53%;
  --dd-color-h: 0;
  --dd-color-s: 0%;
  --dd-color-l: 100%;
}

.dd.has-background {
  background-color: hsl(var(--dd-bg-color-h), var(--dd-bg-color-s), var(--dd-bg-color-l));
  transition: background-color 0.5s;
}

.dd.hoverable:hover,
.dd.is-hover {
  background-color: hsl(
    var(--dd-bg-color-h),
    var(--dd-bg-color-s),
    calc(var(--dd-bg-color-l) - 10%)
  );
}

.dd.hoverable:active,
.dd.is-active {
  background-color: hsl(
    var(--dd-bg-color-h),
    var(--dd-bg-color-s),
    calc(var(--dd-bg-color-l) + 5%)
  );
}

.dd.hoverable:disabled,
.dd.is-disabled {
  background-color: hsl(var(--dd-bg-color-h), 0%, var(--dd-bg-color-l));
}

.dd {
  color: hsl(var(--dd-color-h), var(--dd-color-s), var(--dd-color-l));
}

.dd.loader {
  border-color: #0002;
  border-top-color: var(--dd-color-accent);
}

/*
  COMPONENTS
*/

.dd.segment {
  border-radius: 0.5em;
  padding: 0.75em;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.dd.button {
  border-radius: 0.5em;
  border-style: none;
  padding: 0.75em 1.5em;
  cursor: pointer;
}

.dd.icon-button {
  padding: 0.25em;
  cursor: pointer;
}

.dd.form-control {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
}

.dd.icon {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  vertical-align: middle;
}

.dd.input {
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 0.5em;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(209, 213, 219);
  padding: 0.5em 0.75em;
  outline-color: transparent;
  outline-width: 0px;
}

.dd.input:focus {
  border-color: var(--dd-color-accent);
  box-shadow: 0px 0px 0px 1px var(--dd-color-accent);
  outline-color: transparent;
}

.dd.dim {
  opacity: 0.5;
}

.dd.divider {
  border-style: none;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 1em;
  margin-bottom: 1em;
}

.dd.dropdown-menu {
  position: absolute;
  list-style-type: none;
  margin: 0;
}

.dd.dropdown-menu li {
  padding: 0.25em;
  cursor: pointer;
}

.dd.loader {
  border-width: 0.2em;
  border-style: solid;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  animation: dd-spin 2s linear infinite;
}

@keyframes dd-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dd.modal {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.dd.modal-background {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: #000000cc;
}

.dd.modal-content {
  z-index: 2;
}

.dd.stack {
  position: relative;
  width: 100%;
  height: 100%;
}

.dd.stack-center-layer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
