name: Benchmark
on:
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 14
    steps:
      - uses: actions/checkout@v3
      - name: Cache Rush
        uses: actions/cache@v3
        with:
          path: |
            common/temp/install-run
            ~/.rush
          key: ${{ runner.os }}-${{ hashFiles('rush.json') }}
      - name: Cache pnpm
        uses: actions/cache@v3
        with:
          path: |
            common/temp/pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('common/config/rush/pnpm-lock.yaml') }}
      - uses: asdf-vm/actions/install@v2
      - name: Install gnuplot
        run: |
          sudo apt-get update # to avoid error: Unable to fetch some archives, maybe run apt-get update or try with --fix-missing?
          sudo apt-get install -y gnuplot
      - name: rush install
        run: |
          node common/scripts/install-run-rush.js install --bypass-policy
      - name: start db
        run: |
          cd tools/generic-tools/
          npm run db:start &
          npm run db:wait
      - name: setup db
        run: |
          cd tools/generic-tools/
          npm run db:ensure-dbs
          npm run db:make-users:superuser
          npm run db:migrate:all
          npm run db:make-users:no-superuser
      - name: rush build
        run: |
          node common/scripts/install-run-rush.js build --verbose --to @dossierhq/example-benchmark
      - name: npm start (benchmark)
        run: |
          cd examples/benchmark
          npm run start:ci
      - name: stop db
        run: |
          cd tools/generic-tools/
          npm run db:stop
      - name: Git status
        run: |
          git status
      - name: Add and commit changes
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add examples/benchmark/output/ci-benchmark.tsv
          git commit -m "chore(benchmark): Record new benchmark results"
          git push
