name: Benchmark
on:
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v18
      - uses: cachix/cachix-action@v12
        with:
          name: devenv
      - run: nix-env -if https://github.com/cachix/devenv/tarball/v0.5
      - run: devenv ci
      - run: devenv info
      - name: Cache Rush
        uses: actions/cache@v3
        with:
          path: |
            common/temp/install-run
            ~/.rush
          key: ${{ runner.os }}-${{ hashFiles('rush.json') }}
      - name: Cache pnpm
        uses: actions/cache@v3
        with:
          path: |
            common/temp/pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('common/config/rush/pnpm-lock.yaml') }}
      - name: rush install
        run: |
          devenv shell rush install --bypass-policy
      - name: start db
        run: |
          cd tools/generic-tools/
          npm run db:start &
          npm run db:wait
      - name: setup db
        run: |
          cd tools/generic-tools/
          npm run db:ensure-dbs
          npm run db:make-users:superuser
          npm run db:migrate:all
          npm run db:make-users:no-superuser
      - name: rush build
        run: |
          devenv shell rush build --verbose --to datadata-examples-benchmark
      - name: npm start (benchmark)
        run: |
          cd examples/benchmark
          devenv shell npm run start:ci
      - name: stop db
        run: |
          cd tools/generic-tools/
          npm run db:stop
      - name: Git status
        run: |
          git status
      - name: Add and commit changes
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          if [[ `git status --porcelain` ]]; then
            git commit -m "chore(benchmark): Record new benchmark results"
            git push
          fi
