name: Browser Integration Tests
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 16
    if: ${{ !startsWith(github.ref, 'refs/heads/dependabot/npm_and_yarn') }}
    steps:
      - name: apt-get update
        run: sudo apt-get update # to avoid error when installing Playwright
      - uses: actions/checkout@v4
      - name: Cache Rush
        uses: actions/cache@v4
        with:
          path: |
            common/temp/install-run
            ~/.rush
          key: ${{ runner.os }}-${{ hashFiles('rush.json') }}
      - name: Cache pnpm
        uses: actions/cache@v4
        with:
          path: |
            common/temp/pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('common/config/rush/pnpm-lock.yaml') }}
      - uses: asdf-vm/actions/install@v3
      - name: rush install
        run: |
          node common/scripts/install-run-rush.js install --bypass-policy
      - name: Install Playwright Browsers
        run: |
          cd libraries/sql.js-browser-integration-test
          npx playwright install --with-deps
      - name: rush build --to @dossierhq/sql.js-browser-integration-test
        run: |
          node common/scripts/install-run-rush.js build --to @dossierhq/sql.js-browser-integration-test --verbose --timeline
