name: Dependabot Pull Request
on: pull_request
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 12
    if: ${{ startsWith(github.head_ref, 'dependabot/npm_and_yarn') }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: asdf-vm/actions/install@v2
      - name: Fetch Dependabot metadata
        id: dependabot-metadata
        uses: dependabot/fetch-metadata@v1
      - name: Make dependencies consistent
        run: |
          ./tools/generic-tools/scripts/dependabot-make-consistent.js "${{ steps.dependabot-metadata.outputs.dependency-names }}"
      - name: Git status
        run: |
          git status
      - name: rush check && rush update
        run: |
          node common/scripts/install-run-rush.js check
          node common/scripts/install-run-rush.js update --bypass-policy
      - name: Git status
        run: |
          git status
      - name: Add and commit changes for dependabot
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          if [[ `git status --porcelain` ]]; then
            git commit -m "chore: Make dependencies consistent"
            git push origin "HEAD:$GITHUB_HEAD_REF"
          fi
      - name: start db
        run: |
          cd tools/generic-tools/
          npm run db:start &
          npm run db:wait
      - name: setup db
        run: |
          cd tools/generic-tools/
          npm run db:ensure-dbs
          npm run db:make-users:superuser
          npm run db:migrate:all
          npm run db:make-users:no-superuser
      - name: rush build
        run: |
          node common/scripts/install-run-rush.js build --verbose
      - name: stop db
        run: |
          cd tools/generic-tools/
          npm run db:stop
