name: Node CI
on: [push]
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 16
    steps:
      - uses: actions/checkout@v6
      - name: Cache blog/next-web next
        uses: actions/cache@v5
        with:
          path: |
            app/blog/.next/cache/
            examples/next-web/.next/cache/
          key: ${{ runner.os }}-next-${{ hashFiles('pnpm-lock.yaml') }}
      - uses: jdx/mise-action@v3
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: start db
        run: |
          cd tools/generic-tools/
          npm run db:start &
          npm run db:wait
      - name: setup db
        run: |
          cd tools/generic-tools/
          npm run db:ensure-dbs
          npm run db:make-users:superuser
          npm run db:migrate:all
          npm run db:make-users:no-superuser
      - name: build
        run: |
          npx turbo run --filter=@dossierhq/libsql lint check-types build test test-integration
          env CI_SKIP_BROWSER_TEST=true pnpm build
        env:
          TURBO_TEAM: ${{ secrets.DOSSIERHQ_TURBO_TEAM }}
          TURBO_TOKEN: ${{ secrets.DOSSIERHQ_TURBO_TOKEN }}
      - name: knip
        run: npm run knip || true
      - name: stop db
        run: |
          cd tools/generic-tools/
          npm run db:stop
