name: Node CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 12
    if: ${{ !startsWith(github.ref, 'refs/heads/dependabot/npm_and_yarn') }}
    steps:
      - uses: actions/checkout@v3
      - name: Cache Rush
        uses: actions/cache@v3
        with:
          path: |
            common/temp/install-run
            ~/.rush
          key: ${{ runner.os }}-${{ hashFiles('rush.json') }}
      - name: Cache pnpm
        uses: actions/cache@v3
        with:
          path: |
            common/temp/pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('common/config/rush/pnpm-lock.yaml') }}
      - name: Cache blog/next-web next
        uses: actions/cache@v3
        with:
          path: |
            app/blog/.next/cache/
            examples/next-web/.next/cache/
          key: ${{ runner.os }}-next-${{ hashFiles('common/config/rush/pnpm-lock.yaml') }}
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: ".nvmrc"
      - name: Use deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: "1.28.0"
      - name: Use bun
        uses: antongolub/action-setup-bun@v1
      - name: rush install
        run: |
          node common/scripts/install-run-rush.js install --bypass-policy
      - name: start db
        run: |
          cd tools/generic-tools/
          npm run db:start &
          npm run db:wait
      - name: setup db
        run: |
          cd tools/generic-tools/
          npm run db:ensure-dbs
          npm run db:make-users:superuser
          npm run db:migrate:all
          npm run db:make-users:no-superuser
      - name: rush build blog dependencies, create database
        run: |
          cd apps/blog
          node ../../common/scripts/install-run-rush.js build --verbose --to-except .
          ./scripts/create-database-from-disk.ts data/database.sqlite
          echo "DATABASE_SQLITE_FILE=data/database.sqlite" > .env
      - name: rush build
        run: |
          node common/scripts/install-run-rush.js build --verbose
      - name: stop db
        run: |
          cd tools/generic-tools/
          npm run db:stop
