name: Publish new versions

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: cachix/install-nix-action@v18
      - uses: cachix/cachix-action@v12
        with:
          name: devenv
      - run: nix-env -if https://github.com/cachix/devenv/tarball/v0.5
      - run: devenv ci
      - run: devenv info
      - name: Cache Rush
        uses: actions/cache@v3
        with:
          path: |
            common/temp/install-run
            ~/.rush
          key: ${{ runner.os }}-${{ hashFiles('rush.json') }}
      - name: Cache pnpm
        uses: actions/cache@v3
        with:
          path: |
            common/temp/pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('common/config/rush/pnpm-lock.yaml') }}
      - name: Cache next-web next
        uses: actions/cache@v3
        with:
          path: |
            examples/next-web/.next/cache/
          key: ${{ runner.os }}-next-${{ hashFiles('common/config/rush/pnpm-lock.yaml') }}
      - name: rush install
        run: devenv shell node common/scripts/install-run-rush.js install --bypass-policy
      - name: rush change -v
        run: devenv shell node common/scripts/install-run-rush.js change -v
      - name: start db
        run: |
          cd tools/generic-tools/
          npm run db:start &
          npm run db:wait
      - name: setup db
        run: |
          cd tools/generic-tools/
          npm run db:ensure-dbs
          npm run db:make-users:superuser
          npm run db:migrate:all
          npm run db:make-users:no-superuser
      - name: rush build
        run: |
          devenv shell node common/scripts/install-run-rush.js build --verbose
      - name: stop db
        run: |
          cd tools/generic-tools/
          npm run db:stop
      - name: Configure git user
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
      - name: rush version
        run: devenv shell node common/scripts/install-run-rush.js version --bump --target-branch main
      - name: rush publish
        env:
          NPM_GITHUB_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: devenv shell node common/scripts/install-run-rush.js publish --apply --publish -b main --include-all
      - name: git push to publish
        run: git push origin HEAD:publish
